# C# (Visual Studio)
.vs/        
bin/        
obj/        
*.htm       
c#/app.config

# Python (PyCharm)
__pycache__/     
*.pyc            
venv/            
.env             
python/data/     
python/.idea/
python/.ipynb_checkpoints/

# 공통
*.log            
*.db  

# 루트
.idea/        